---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Targets.astro";
import Check from "../icons/Check.astro";
---

<Layout>
  <div
    class="w-full h-full flex justify-center items-center 2xl:px-60 lg:px-16 md:px-14 sm:px-16 px-4"
  >
    <div class="w-full flex 2xl:flex-row flex-col">
      <div class="flex flex-col gap-5">
        <div class="w-full flex items-center gap-4 md:flex-row flex-col">
          <div class="relative">
            <img class="size-12 md:size-auto" src="/Img/3.webp" alt="Logo" />
            <!-- icon -->
            <div class="absolute top-0 right-0">
              <Check />
            </div>
          </div>
          <div
            class="flex flex-col text-white font-[ObjectiveMedium] md:text-left text-center"
          >
            <h1
              class="font-bold xl:text-[50px] xl:leading-[60px] tracking-wider"
            >
              Genera Más
            </h1>
            <span class="xl:text-[20.88px] tracking-wide"
              >@generamas.oficial</span
            >
          </div>
        </div>
        <!-- redes sociales -->
        <div class="w-full flex flex-row gap-6">
          <ul
            class="w-full 2xl:w-1/2 md:w-3/12 flex flex-row justify-center gap-5 md:justify-start"
          >
            <li>
              <a href="https://www.facebook.com/profile.php?id=61565615903854" target="_blank">
                <img class="hover:animate-opaco hover:opacity-75 hover:scale-110 " src="/Img/4.webp" alt="Facebook" />
              </a>
            </li>
            <li>
              <a href="https://wa.link/hzwyw9" target="_blank">
                <img class="hover:animate-opaco  hover:opacity-75  hover:scale-110" src="/Img/5.webp" alt="Whatsapp" />
              </a>
            </li>
            <li>
              <a href="https://www.tiktok.com/@generamas.oficial" target="_blank">
                <img class="hover:animate-opaco  hover:opacity-75  hover:scale-110" src="/Img/6.webp" alt="TikTok" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/generamas.oficial/" target="_blank">
                <img class="hover:animate-opaco  hover:opacity-75  hover:scale-110" src="/Img/7.webp" alt="Instagram" />
              </a>
            </li>
          </ul>
        </div>
        <!-- Texto -->
        <div
          class="w-full font-[ObjectiveMedium] text-white tracking-wider leading-tight text-xs py-2 sm:text-lg xl:text-5xl 2xl:leading-[1em]"
        >
          Ofrecemos cursos y estrategias efectivas para que alcances el éxito y
          <p class="text-[#f68c11]">generes más.</p>
        </div>
      </div>
      <div
        class="w-full flex flex-col 2xl:flex-col md:flex-row items-end justify-between gap-6"
      >
        <Card />
      </div>
    </div>
  </div>
</Layout>
